*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    background: linear-gradient(#d61c4e, #293463, #d61c4e);
}

.box{
    width: 40%;
    min-width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px, 40px;
}

.newitem{
    position: relative;
    background-color: aliceblue;
    padding: 30px, 25px;
    border-radius: 10px;

}

.newitem input{
    width: 70%;
    height: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 1px solid black;
    color: #d61c4e;
    padding: 10px;
    position: relative;
    border-radius: 10px;
}

.newitem input:focus{
    outline: none;
    border-color: #293463;
}

.newitem button{
    position: relative;
    float: right;
    height: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 10px;
    font-size: 17px;
    border: none;
    background-color: #898aa6;

}

#tag{
    background-color: aliceblue;
    padding: 30px 40px;
    border-radius: 10px;
    margin-top: 50px;
    position: relative;
}