*{
    margin: 0;
    display: 0;
    align-items: center;
    height: 100vh;
    transition: 0.3s;
}

.input{
    visibility: hidden;
}

.label{
    position: absolute;
    width: 80px;
    background: lightgrey;
    height: 40px;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 25px;
}

.circle{
    background: white;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    top: 3px;
    left: 2px;
    position: absolute;
    animation: close 0.4s linear forwards;
}



.input::checked + .label{
    background-color: white;
}

.input::checked + .label .circle{
    background-color: black;
    animation: close 0.4s linear forwards;
}

@keyframes open{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(40px);
    }
}

@keyframes close{
    0%{
        transform: translateX(40px);
    }
    100%{
        transform: translateX(0);
    }
}